@charset "utf-8";

h3 {
	margin-top: 40px;
    text-align: center;
}

#presentation {
	padding-top: 20px;
}

#bureau {
	padding-bottom: 30px;
}

#coach .card-body {
    padding: 1.25rem 0.75rem;
	font-weight: bold;
}

#coach .card-green .card-body {
    background-color: #2f832f;
	color: #ffffff;
}

#coach .card-white .card-body {
    background-color: #ffffff;
	color: #000000;
}

#coach .card-black .card-body {
    background-color: #000000;
	color: #ffffff;
}

#bureau .card-body {
    padding: 1.25rem 0.75rem;
}

.people {
    justify-content: center;
}

.coach-name {
	margin-bottom: 0;
	text-align: center;
	font-size: 0.8rem;
}