@charset "utf-8";

#messageInscription {
	width: 100%;
}

#messageInscription div {
	display: block;
	width: 50%;
	margin: 50px auto;
	text-align: center;
}

#inscription-paper {
	margin: 20px 0;
	text-align: right;
}

#inscription-paper a {
	text-decoration: none;
}

.required {
	color: red;
}


/* ==== Steps ==== */
#steps {
	width: 100%;
	margin: 35px 0;
}

#steps .steps-line {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
    height: 50%;
	padding: 0 90px;
}

#steps .steps-line span {
	display: block;
	width: 100%;
	border-bottom: solid 3px #bbbbbb;
}

#steps .steps-blocks {
	display: flex;
}

#steps .steps-blocks .step {
	width: 20%;
}

#steps .steps-blocks .step .step-content {
	display: flex;
    justify-content: center;
	flex-direction: column;
	background-color: white;
	margin: 0 15px;
	padding: 20px;
	border: solid 2px #848484;
	border-radius: 10px;
	text-align: center;
}

#steps .steps-blocks .step span:hover {
	cursor: pointer;
}

#steps .steps-blocks .step.active .step-content {
	background-color: #2f832f;
	color: white;
	border-color: #454545;
}

#inscription {
	width: 100%;
}

.inscription-menu {
	align-items: center;
	padding-bottom: 15px;
}

.nextButton {
	padding: 15px 0 30px;
}

/* Guide */
.guide h4 {
    margin: 6px 0;
}

.guide .title {
	font-weight: bold;
	font-style: italic;
	font-size: 1.1em;
}
.guide .card-body p:last-child {
	margin-bottom: 0;
}

/* Adherents Step */
.adherent {
	margin-bottom: 20px;
	border-color: #cccccc;
}

.adherent .card-header {
	background-color: #ededed;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.passSportCodeInput {
	display: none;
}

.passSportCodeInput.active {
	display: inherit;
}

/* Tuteurs Step */
.tuteur {
	margin-bottom: 20px;
	border-color: #cccccc;
}

.tuteur .card-header {
	background-color: #ededed;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tuteur .tuteur-header {
	vertical-align: sub;
}

.tuteur .tuteur-header select {
	display: inline-block;
    width: auto;
	vertical-align: middle;
}

.tuteur .card-header button {
	float: right;
}

/* Authorization Step */
#authorization {
	margin-bottom: 20px;
}

.authorization-validation {
	margin-top: 50px;
}

.authorization-validation input {
	width: 2rem;
    height: 2rem;
    vertical-align: middle;
}

.authorization-validation label {
    vertical-align: sub;
}

/* Payment Step */
#infoPrice .price {
	font-size: 2em;
	font-weight: bold;
}

#reductions {
	padding: 1rem 1rem;
	margin-bottom: 20px;
	border: 1px solid #ced4da;
    border-radius: .25rem;
}

#reductions i {
	display: block;
	margin: 10px 0;
	text-align: center;
}

#paymentOptions .button-container {
	display: flex;
	margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

#paymentOptions .button-container .button-item {
	width: 100%;
	padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

#paymentOptions .button-container .button-item button {
	width: 100%;
}

#paymentOptions .btn-snake {
	background-color: #454545;
}

#paymentOptions .btn-snake.active {
	background-color: #2f832f;
}

#paymentOptions,
#paymentDetails > div {
	display: block;
    width: 100%;
	padding: 1rem 1rem;
	margin-bottom: 20px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#paypalButtonContainer {
	width: 50%;
	margin: 20px auto 0;
}

#validModal {
	background-color: #0000008c;
}

#validModal p {
	width: 100%;
	font-size: 2rem;
	color: white;
}

/* Confirmation Step */
#confirmation .check i,
#confirmation .check svg {
	width: 5rem;
	height: 5rem;
	color: #2f832f;
}

#confirmBox {
	font-size: 1.5rem;
	margin: 35px 50px;
}

@media (max-width: 992px) {
	#messageInscription div {
		width: 100%;
	}

	#steps {
		margin: 20px 0;
	}

	#steps .steps-line {
		justify-content: center;
		height: 100%;
		padding: 20px 0;
	}

	#steps .steps-line span {
		width: auto;
		border-left: solid 3px #bbbbbb;
		border-bottom: none;
	}

	#steps .steps-blocks {
		flex-direction: column;
	}

	#steps .steps-blocks .step {
		width: 100%;
	}

	#steps .steps-blocks .step .step-content {
		flex-direction: row;
		width: 100%;
		margin: 5px 0;
    	padding: 7px;
	}

	#steps .steps-blocks .step .step-content span:first-child {
		margin-right: 10px;
	}

	#adherentMenu button,
	#tuteurMenu button {
		display: block;
		position: relative;
		top: auto;
    	right: auto;
		margin: 10px auto;
	}

	#paymentOptions button {
		margin-bottom: 10px;
	}

	#paymentOptions .col-sm-4:last-child button {
		margin-bottom: 0;
	}

	#paypalButtonContainer {
		width: 100%;
	}

	#confirmBox {
		margin: 0 0 20px;
	}
}