h1 {
	margin: 20px 0;
}

.card {
	margin-bottom: 30px;
}

.saisons {
	padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px #d8d8d8;
}

.links .separator {
	display: block;
    margin: 20px 0;
    border-top: solid 1px #d8d8d8;
}