h1 {
	margin: 20px 0;
}

#inscription .form-group:last-child {
	margin-bottom: 0;
}

#openInscriptionBlock {
	margin-bottom: 20px;
}

#inscription {
	margin-bottom: 20px;
}

#applyBlock {
	margin-top: 20px;
}

#sections .card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#sections .card-header h3 {
	margin-bottom: 0;
}

#sectionList {
	padding: 0;
	overflow: auto;
}